In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("D:/CODEBYCUAN/end_to_end_project/Bài 5_ Social Media Marketing/Social_Media_Content_Performance_Dataset.xlsx")
df

,Post_ID,Platform,Content_Type,Content_Category,Post_Type,Region,Longitude,Latitude,Engagement,Views,...,Impressions,Video_Views,Live_Stream_Views,Clicks,Click_Through_Rate,Main_Hashtag,Post_Published_At,Post_Date,Post_Hour,Engagement_Level
0,Post_1,TikTok,Organic,Product Promotion,Video,UK,-3.4360,55.3781,54510,599342,...,677975,465645,0,16813.0,0.0248,#FeatureHighlight,2024-03-14 15:42:00,2024-03-14,15,Low
1,Post_2,Instagram,Organic,Product Promotion,Video,India,78.9629,20.5937,259440,1896301,...,2354474,1896301,0,NaN,NaN,#ProductDemo,2024-04-24 12:02:00,2024-04-24,12,Medium
2,Post_3,X.com,Organic,Entertainment,Text,Brazil,-51.9253,-14.2350,14182,253052,...,304915,0,0,NaN,NaN,#MemeMonday,2024-12-01 10:02:00,2024-12-01,10,Low
3,Post_4,Instagram,Organic,Entertainment,Carousel,Australia,133.7751,-25.2744,49137,735640,...,829727,0,0,NaN,NaN,#JustForFun,2024-07-07 12:59:00,2024-07-07,12,Low
4,Post_5,TikTok,Organic,Educational,Video,Brazil,-51.9253,-14.2350,20832,77358,...,93049,72707,0,1944.0,0.0209,#CaseStudy2025,2024-01-10 11:28:00,2024-01-10,11,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5595,Post_1670,LinkedIn,Organic,Entertainment,Carousel,India,78.9629,20.5937,46830,670094,...,840952,0,0,16398.0,0.0195,#DidYouKnow,2024-11-12 12:40:00,2024-11-12,12,Low
5596,Post_4362,LinkedIn,Organic,Product Promotion,PDF,Australia,133.7751,-25.2744,53590,238582,...,282502,0,0,NaN,NaN,#SuccessStory,2024-02-09 17:03:00,2024-02-09,17,High
5597,Post_81,Instagram,Organic,Educational,Carousel,India,78.9629,20.5937,303438,1461166,...,1872149,0,0,NaN,NaN,#CustomerStory,2024-04-24 15:27:00,2024-04-24,15,High
5598,Post_1509,LinkedIn,Organic,Educational,PDF,UK,-3.4360,55.3781,23674,99347,...,110590,0,0,1404.0,0.0127,#CustomerStory,2024-08-05 15:31:00,2024-08-05,15,High
5599,Post_752,X.com,Organic,Educational,Image,Germany,10.4515,51.1657,79615,418844,...,518726,0,0,NaN,NaN,#SuccessStory,2024-09-15 15:10:00,2024-09-15,15,Medium

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5600 entries, 0 to 5599
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Post_ID             5600 non-null   object
 1   Platform            5600 non-null   object
 2   Content_Type        5600 non-null   object
 3   Content_Category    5600 non-null   object
 4   Post_Type           5600 non-null   object
 5   Region              5600 non-null   object
 6   Longitude           5600 non-null   float64
 7   Latitude            5600 non-null   float64
 8   Engagement          5600 non-null   int64
 9   Views               5600 non-null   int64
 10  Likes               5600 non-null   int64
 11  Shares              5600 non-null   int64
 12  Comments            5600 non-null   int64
 13  Engagement_Rate     5600 non-null   float64
 14  Impressions         5600 non-null   int64
 15  Video_Views         5600 non-null   int64
 16  Live_Stream_Views   5600 non-null   int64
 17  Clicks              1860 non-null   float64
 18  Click_Through_Rate  1860 non-null   float64
 19  Main_Hashtag        5600 non-null   object
 20  Post_Published_At   5600 non-null   datetime64[ns]
 21  Post_Date           5600 non-null   datetime64[ns]
 22  Post_Hour           5600 non-null   int64
 23  Engagement_Level    5600 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(9), object(8)
memory usage: 1.0+ MB

## Cleaning data
---

### check missing

In [6]:
df.describe(include='all')

,Post_ID,Platform,Content_Type,Content_Category,Post_Type,Region,Longitude,Latitude,Engagement,Views,...,Impressions,Video_Views,Live_Stream_Views,Clicks,Click_Through_Rate,Main_Hashtag,Post_Published_At,Post_Date,Post_Hour,Engagement_Level
count,5600,5600,5600,5600,5600,5600,5600.000000,5600.000000,5.600000e+03,5.600000e+03,...,5.600000e+03,5.600000e+03,5.600000e+03,1860.000000,1860.000000,5600,5600,5600,5600.000000,5600
unique,5000,6,2,5,7,8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,3
top,Post_1021,YouTube,Organic,Educational,Video,USA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,#SuccessStory,NaN,NaN,NaN,Medium
freq,4,1320,4646,2026,2948,752,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1523,NaN,NaN,NaN,3110
mean,NaN,NaN,NaN,NaN,NaN,NaN,9.658511,27.272488,1.154449e+05,8.582634e+05,...,1.029742e+06,6.409677e+05,9.809161e+04,19036.116129,0.018357,NaN,2024-08-30 01:14:37.832142848,2024-08-29 11:17:03.428571392,13.469643,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,-106.346800,-25.274400,7.300000e+01,1.000000e+03,...,1.125000e+03,0.000000e+00,0.000000e+00,12.000000,0.010000,NaN,2024-01-01 10:18:00,2024-01-01 00:00:00,8.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,-95.712900,20.593700,3.700425e+04,2.343490e+05,...,2.805228e+05,0.000000e+00,0.000000e+00,4788.000000,0.014100,NaN,2024-04-30 12:10:30,2024-04-30 00:00:00,11.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,-3.436000,37.090200,5.899150e+04,3.755250e+05,...,4.534145e+05,1.003765e+05,0.000000e+00,8227.000000,0.018150,NaN,2024-08-26 10:08:00,2024-08-26 00:00:00,13.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,78.962900,55.378100,1.534625e+05,1.441124e+06,...,1.718588e+06,1.121694e+06,0.000000e+00,27792.000000,0.022425,NaN,2024-12-31 16:54:45,2024-12-31 00:00:00,16.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,138.252900,56.130400,1.032271e+06,4.430104e+06,...,5.282874e+06,5.474756e+06,1.998724e+06,134139.000000,0.030000,NaN,2025-05-01 17:08:00,2025-05-01 00:00:00,19.000000,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,90.524261,29.330102,1.291954e+05,9.118957e+05,...,1.096433e+06,9.587711e+05,3.198539e+05,21840.899426,0.005015,NaN,NaN,NaN,2.988543,NaN

In [7]:
df.isnull().sum()

Post_ID                  0
Platform                 0
Content_Type             0
Content_Category         0
Post_Type                0
Region                   0
Longitude                0
Latitude                 0
Engagement               0
Views                    0
Likes                    0
Shares                   0
Comments                 0
Engagement_Rate          0
Impressions              0
Video_Views              0
Live_Stream_Views        0
Clicks                3740
Click_Through_Rate    3740
Main_Hashtag             0
Post_Published_At        0
Post_Date                0
Post_Hour                0
Engagement_Level         0
dtype: int64

Note: CTR và Clicks chỉ được ghi nhận cho một tập con các bài đăng, cho thấy không phải tất cả nội dung đều hướng đến mục tiêu chuyển đổi.
- Chỉ những bài post có gắn link / CTA mới track click
- Các bài giải trí, meme, video ngắn → không đo click

In [8]:
# fill missing values = 0
df['Clicks'] = df['Clicks'].fillna(0)
df['Click_Through_Rate'] = df['Click_Through_Rate'].fillna(0)
df

,Post_ID,Platform,Content_Type,Content_Category,Post_Type,Region,Longitude,Latitude,Engagement,Views,...,Impressions,Video_Views,Live_Stream_Views,Clicks,Click_Through_Rate,Main_Hashtag,Post_Published_At,Post_Date,Post_Hour,Engagement_Level
0,Post_1,TikTok,Organic,Product Promotion,Video,UK,-3.4360,55.3781,54510,599342,...,677975,465645,0,16813.0,0.0248,#FeatureHighlight,2024-03-14 15:42:00,2024-03-14,15,Low
1,Post_2,Instagram,Organic,Product Promotion,Video,India,78.9629,20.5937,259440,1896301,...,2354474,1896301,0,0.0,0.0000,#ProductDemo,2024-04-24 12:02:00,2024-04-24,12,Medium
2,Post_3,X.com,Organic,Entertainment,Text,Brazil,-51.9253,-14.2350,14182,253052,...,304915,0,0,0.0,0.0000,#MemeMonday,2024-12-01 10:02:00,2024-12-01,10,Low
3,Post_4,Instagram,Organic,Entertainment,Carousel,Australia,133.7751,-25.2744,49137,735640,...,829727,0,0,0.0,0.0000,#JustForFun,2024-07-07 12:59:00,2024-07-07,12,Low
4,Post_5,TikTok,Organic,Educational,Video,Brazil,-51.9253,-14.2350,20832,77358,...,93049,72707,0,1944.0,0.0209,#CaseStudy2025,2024-01-10 11:28:00,2024-01-10,11,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5595,Post_1670,LinkedIn,Organic,Entertainment,Carousel,India,78.9629,20.5937,46830,670094,...,840952,0,0,16398.0,0.0195,#DidYouKnow,2024-11-12 12:40:00,2024-11-12,12,Low
5596,Post_4362,LinkedIn,Organic,Product Promotion,PDF,Australia,133.7751,-25.2744,53590,238582,...,282502,0,0,0.0,0.0000,#SuccessStory,2024-02-09 17:03:00,2024-02-09,17,High
5597,Post_81,Instagram,Organic,Educational,Carousel,India,78.9629,20.5937,303438,1461166,...,1872149,0,0,0.0,0.0000,#CustomerStory,2024-04-24 15:27:00,2024-04-24,15,High
5598,Post_1509,LinkedIn,Organic,Educational,PDF,UK,-3.4360,55.3781,23674,99347,...,110590,0,0,1404.0,0.0127,#CustomerStory,2024-08-05 15:31:00,2024-08-05,15,High
5599,Post_752,X.com,Organic,Educational,Image,Germany,10.4515,51.1657,79615,418844,...,518726,0,0,0.0,0.0000,#SuccessStory,2024-09-15 15:10:00,2024-09-15,15,Medium

In [9]:
df.isnull().sum()

Post_ID               0
Platform              0
Content_Type          0
Content_Category      0
Post_Type             0
Region                0
Longitude             0
Latitude              0
Engagement            0
Views                 0
Likes                 0
Shares                0
Comments              0
Engagement_Rate       0
Impressions           0
Video_Views           0
Live_Stream_Views     0
Clicks                0
Click_Through_Rate    0
Main_Hashtag          0
Post_Published_At     0
Post_Date             0
Post_Hour             0
Engagement_Level      0
dtype: int64

=> Chỉ có số liệu bị thiếu được tìm thấy ở mục Số lần nhấp chuột và Tỷ lệ nhấp chuột. Những giá trị bị thiếu này được hiểu là các bài đăng không có liên kết có thể nhấp chuột và do đó được thay thế bằng số 0 để đảm bảo việc tổng hợp và phân tích chính xác.

In [13]:
# check duplicates
df.duplicated().sum()

0

### Convert data

In [14]:
df.dtypes

Post_ID                       object
Platform                      object
Content_Type                  object
Content_Category              object
Post_Type                     object
Region                        object
Longitude                    float64
Latitude                     float64
Engagement                     int64
Views                          int64
Likes                          int64
Shares                         int64
Comments                       int64
Engagement_Rate              float64
Impressions                    int64
Video_Views                    int64
Live_Stream_Views              int64
Clicks                       float64
Click_Through_Rate           float64
Main_Hashtag                  object
Post_Published_At     datetime64[ns]
Post_Date             datetime64[ns]
Post_Hour                      int64
Engagement_Level              object
dtype: object

### Tạo, tách cột thời gian

In [15]:
# Tạo các cột thời gian quan trong
df['Post_Hour'] = df['Post_Published_At'].dt.hour # Tạo lại Post_Hour từ Post_Published_At để đảm bảo chính xác
df['Day_Name'] = df['Post_Published_At'].dt.day_name()
df['Month'] = df['Post_Published_At'].dt.month

### Tạo KPI phụ

In [18]:
# tạo cột KPI phụ
df['Engagement_per_View'] = df['Engagement'] / df['Views']
df['Video_View_Rate'] = df['Video_Views'] / df['Views']

=> Thêm các chỉ số  như mức độ tương tác trên mỗi lượt xem và tỷ lệ xem video đã được tạo ra để đánh giá hiệu quả nội dung tốt hơn

In [20]:
df

,Post_ID,Platform,Content_Type,Content_Category,Post_Type,Region,Longitude,Latitude,Engagement,Views,...,Click_Through_Rate,Main_Hashtag,Post_Published_At,Post_Date,Post_Hour,Engagement_Level,Day_Name,Month,Engagement_per_View,Video_View_Rate
0,Post_1,TikTok,Organic,Product Promotion,Video,UK,-3.4360,55.3781,54510,599342,...,0.0248,#FeatureHighlight,2024-03-14 15:42:00,2024-03-14,15,Low,Thursday,3,0.090950,0.776927
1,Post_2,Instagram,Organic,Product Promotion,Video,India,78.9629,20.5937,259440,1896301,...,0.0000,#ProductDemo,2024-04-24 12:02:00,2024-04-24,12,Medium,Wednesday,4,0.136814,1.000000
2,Post_3,X.com,Organic,Entertainment,Text,Brazil,-51.9253,-14.2350,14182,253052,...,0.0000,#MemeMonday,2024-12-01 10:02:00,2024-12-01,10,Low,Sunday,12,0.056044,0.000000
3,Post_4,Instagram,Organic,Entertainment,Carousel,Australia,133.7751,-25.2744,49137,735640,...,0.0000,#JustForFun,2024-07-07 12:59:00,2024-07-07,12,Low,Sunday,7,0.066795,0.000000
4,Post_5,TikTok,Organic,Educational,Video,Brazil,-51.9253,-14.2350,20832,77358,...,0.0209,#CaseStudy2025,2024-01-10 11:28:00,2024-01-10,11,High,Wednesday,1,0.269293,0.939877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5595,Post_1670,LinkedIn,Organic,Entertainment,Carousel,India,78.9629,20.5937,46830,670094,...,0.0195,#DidYouKnow,2024-11-12 12:40:00,2024-11-12,12,Low,Tuesday,11,0.069886,0.000000
5596,Post_4362,LinkedIn,Organic,Product Promotion,PDF,Australia,133.7751,-25.2744,53590,238582,...,0.0000,#SuccessStory,2024-02-09 17:03:00,2024-02-09,17,High,Friday,2,0.224619,0.000000
5597,Post_81,Instagram,Organic,Educational,Carousel,India,78.9629,20.5937,303438,1461166,...,0.0000,#CustomerStory,2024-04-24 15:27:00,2024-04-24,15,High,Wednesday,4,0.207668,0.000000
5598,Post_1509,LinkedIn,Organic,Educational,PDF,UK,-3.4360,55.3781,23674,99347,...,0.0127,#CustomerStory,2024-08-05 15:31:00,2024-08-05,15,High,Monday,8,0.238296,0.000000
5599,Post_752,X.com,Organic,Educational,Image,Germany,10.4515,51.1657,79615,418844,...,0.0000,#SuccessStory,2024-09-15 15:10:00,2024-09-15,15,Medium,Sunday,9,0.190083,0.000000

In [22]:
df.to_csv("D:/CODEBYCUAN/end_to_end_project/Bài 5_ Social Media Marketing/social_media_clean.csv", index=False)

# Import data to Pgadmin

In [ ]:
import pandas as pd
from sqlalchemy import create_engine


df = pd.read_csv('D:/CODEBYCUAN/end_to_end_project/Bài 5_ Social Media Marketing/social_media_clean.csv')

user = 'postgres'        
password = '1' 
host = 'localhost'       
port = '5432'           
db_name = 'e_com_projects_analysts'

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")


table_name = "social_media_performance"   
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'social_media_performance' in database 'e_com_projects_analysts'.